.container {
  text-align: center;
}

.progressContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progressContainer::before {
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 5px;
    width: 100%;
    z-index: -1;
    transition: 0.4s ease;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: var(--line-border-thick);
    width: 0;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: var(--line-border-thick) solid var(--line-border-empty);
    transition: 0.4s ease;

}

.circle.active {
    border-color: var(--line-border-fill);
}

.msgContainer {
display: flex;
    justify-content: space-between;
    margin: 10px -10px;
    color: var(--line-border-empty);
    font-weight: bold;
}

.msgContainer .active {
    color: var(--line-border-fill);
    transition: 0.4s ease;
}

